html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}
